<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    referrerpolicy="no-referrer"></script>
</head>
<body>
    <h2>Register</h2><br>
    <form id="signup">
      <label>Your Username</label>
      <input type="text" id="username">
      <br><br>
      <label>Your Email</label>
      <input type="text" id="email">
      <br><br>
      <label>Your Password</label>
      <input type="text" id="password">
      <br><br>
      <input type="button" id="btn" value="Sign Up">
      <br><br>
    </form>

  <br><br><a href="http://localhost:3000/homepage">Home</a>
  <br><br><a href="http://localhost:3000/login">Log in</a>
  </body>

  <script>
    $(document).ready(function () {
      const host = "http://localhost:3000";
  
      $('#btn').on('click', function () {
        $.ajax({
          url: `${host}/register`,
          type: "POST",
          data: JSON.stringify({
            email: $('#email').val(),
            username: $('#username').val(),
            password: $('#password').val()
          }),
          contentType: "application/json; charset=utf-8",
          success: function (res) {
            console.log('sent successful');
            window.location = `${host}${res}`;
          },
          error: function (e) {
            console.log(e);
          }
        });
      });
    });
  </script>